

  

    <h1>Estate Description</h1>
    <div style="display: flex">
      <h3 style="width: 70%">
        <%= estate %>
      </h3>
      <div>
        <div
          style="width: 400px; height: 400px; border-radius: 12px"
          id="map"
        ></div>
      </div>
    </div>

    <script src="/map.js"></script>
  
</html>
