<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Estate</title>
</head>

<body>
    <h1> Add estate ejs</h1>
    <nav>
        <!-- <a href="/">Shop</a>
        <a href="/admin/add-product">Admin</a> -->
    </nav><br><br>
    <form method="POST" action="/add-estate">
        <input name="name" type="text" placeholder="name">
        <input name="price" type="number" placeholder="price">
        <input name="address" type="text" placeholder="address">
        <input name="zipCode" type="text" placeholder="zipCode">
        <input name="country" type="text" placeholder="country">
        <button>Send</button>
    </form>
</body>

</html>