


<div class="banner-sunset relative min-h-full">
  <div class="banner-sunset-catchphrase absolute flex items-center">
    <span class="catchphrase font-bold text-indigo-500 font-bold text-4xl">
      <i class="mr-3 fas fa-plane-departure"></i> DES ENVIES D'EVASION ? <i class="ml-3 fas fa-globe-asia"></i>
    </span>
  </div>
    
</div>
