<div class="container p-2">
  <div class="flex justify-center items-center space-x-6">
    <span class="text-lg font-medium">&copy;NodeBnBCapsuleCorp</span>
    <span><a href="#" class="text-link underline">Conditions générales</a></span>
    <span><a href="#" class="text-link underline">Confidentialité</a></span>
  </div>
  
</div>
  
