<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/635a5e5829.js"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <!-- css mapbox -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <style>
      #geocoder {
        z-index: 1;
        margin: 20px;
      }
      .mapboxgl-ctrl-geocoder {
        min-width: 50%;
      }
    </style>
    <!-- api mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <script src="/map.js"></script>
    <script src="/autocomplete.js"></script>
    <!-- <script>
      const form = document.getElementById("form");
      if (form) {
        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          const name = document.getElementById("name").value;
          const price = document.getElementById("price").value;
          const fullAddress = document.querySelector(
            ".mapboxgl-ctrl-geocoder--input"
          ).value;
          const photos = document.getElementById("photos");
          const files = Array.from(photos.files);
          const allPhotos = files.map((photo) => {
            return 'upload/' + photo.name
          })

          const obj = JSON.stringify({
            name,
            price,
            fullAddress,
            allPhotos
          });

          await fetch("http://localhost:3000/admin/add-estate", {
            method: "POST",
            body: obj,
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          });
          window.location.replace("http://localhost:3000/");
        });
      }
    </script> -->
    <title><%= title %></title>
</head> 