html {
   position: relative;
}

html, body, body>div {
   min-height:100%;
}

/* body>div {
   position:relative;
} */

header {
   min-height: 8rem;
}

footer {
   position: absolute;
   bottom:0;  
}

.banner-sunset-container {
   height: 32rem;
}

.banner-sunset {
   /* relative */
   background-image: url('../../images/banners/navi.jpg');
   background-size: cover;
   background-position-y: 38%;
}

.banner-sunset-catchphrase {
   /* absolute */
   left: 25rem;
   top: 18rem;
}

.banner-sunset-bait i {
   font-size: 2.4rem;
}

.hr-indigo {
   border: none;
   height: 1px;
   background-color: rgba(99, 102, 241);
}

.mapboxgl-ctrl-geocoder--icon {
   display: none !important;
}

.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    min-width: 70% !important;
}

.th-title {
   @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}
