





    <h1>Connexion</h1>
    <form method="POST" action="/user/login">
      <input class="input" name="email" type="email" placeholder="Email">
      <input class="input" name="password" type="password" placeholder="Mot de passe">
    <button class="btn-indigo">Envoyer</button>
    </form>

  



