<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enregistrement</title>
  </head>

  <body>
    <h1>Enregistrement</h1>
    <form action="/user/register" method="post" enctype="multipart/form-data">
			<input name="firstName" type="text" placeholder="Prénom">
			<input name="lastName" type="text" placeholder="Nom">
			<input name="password" type="password" placeholder="Mot de passe">
			<input name="email" type="email" placeholder="Email">
			<input name="confirm_password" type="confirm_password" placeholder="Confirmation Mot de passe">
			<input type="file" name="avatar" />
			<button>Envoyer</button>
    </form>
    <!-- <form method="POST" action="user/register">
    <input name="firstName" type="text" placeholder="Prénom">
    <input name="lastName" type="text" placeholder="Nom">
    <input name="password" type="password" placeholder="Mot de passe">
    <input name="email" type="email" placeholder="Email">
        <input name="password" type="password" placeholder="Confirmation Mot de passe">
    <button>Send</button>
    </form> -->
  </body>
</html>
