
<% title="Créer compte" %>
<%- include('../partials/head', {title}); %>


<body>
    <h1>Créer un compte</h1>
    <form method="POST" action="user/register">
    <input name="firstName" type="text" placeholder="Prénom">
    <input name="lastName" type="text" placeholder="Nom">
    <input name="email" type="email" placeholder="Email">
    <input name="password" type="password" placeholder="Mot de passe">
    <input name="password" type="password" placeholder="Confirmation Mot de passe">
    <button>Send</button>
    </form>
  
</body>

</html>
