<% title="Connexion" %>
<%- include('../partials/head', {title}); %>


<body>
    
    <h1>Connexion</h1>
    <form method="POST" action="user/login">
      <input name="email" type="email" placeholder="Email">
      <input name="password" type="password" placeholder="Mot de passe">
    <button>Send</button>
    </form>
  
</body>

</html>
